.col-md-8.col-md-offset-2.tip-edit{data: {view: 'entity-edit', externalconnector: 'true'}}
  = form_for @tip, :url => [@tutorial.presence || @site, :tips], html: { role: 'form' } do |f|
    = hidden_field_tag :tutorial_id, @tutorial.id if @tutorial
    = render 'form', :f => f
