#logo {
  img {
    display: inline-block;
    margin-right: 5px;
  }
}

.ribbon {
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;

  img {
    width: 60%;
  }
}

.payoff {
  padding: 100px 0 0;
  line-height: 1;
  font-size: 2em;

  .big {
    font-size: 1.8em;
    margin-bottom: 60px;
  }
}

#error_explanation {
  h2 {
    color: #900;
    font-size: 1.2em;
    line-height: 1.2em;
  }
}

.well,
pre {
  .boxed()
}

.hero-unit,
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background: #FFFEFA;
}

.form-actions {
  background: transparent;
  border: none;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background: #EFEDD8;
}

.not_logged_in {
  .user-meta {
    .boxed();
    img {
      display: block;
      margin: 15px auto;
    }

    h3 {
      font-size: 32px;
      .hermes-title();
    }
  }
}

a.brand {
  color: #493E24 !important;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;

  img {
    margin-right: 10px;
    position: relative;
    top: -2px;
  }
}

.welcome {
  margin: 30px 0;
  text-align: center;
}

.explain {
  width: 90%;
  margin: 30px auto;
  pre {
    font-size: 0.85em;
  }
}

.list-group-item-actions {
  position: absolute;
  right: 5px;
  top: 5px;
  .btn {
    display: block;
    background-color: fade(@gray-lighter, 30%);
    margin-bottom: 3px;
  }
}