#logo {
  img {
    display: inline-block;
    margin-right: 5px;
  }
}

.ribbon {
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;

  img {
    width: 60%;
  }
}

.payoff {
  padding: 100px 0 0;
  line-height: 1;
  font-size: 2em;
  color: rgba(33, 33, 33, 0.7);
  .big {
    font-size: 1.8em;
    margin-bottom: 60px;
  }
  p:not(.big) {
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    animation-delay: .5s;

    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    animation-duration: .5s;
  }
}

.col-md-3.zoomInUp {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

#error_explanation {
  h2 {
    color: #900;
    font-size: 1.2em;
    line-height: 1.2em;
  }
}

.well,
pre {
  .boxed()
}

.hero-unit,
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background: #FFFEFA;
}

.not_logged_in {
  .user-meta {
    .boxed();
    img {
      display: block;
      margin: 15px auto;
    }
    h3 {
      font-size: 32px;
      .hermes-title();
    }
    h4 {
      text-align: center;
      font-weight: 100;
      font-size: 18px;
    }
  }
}

.welcome {
  margin: 30px 0;
  text-align: center;
}

.explain {
  width: 90%;
  margin: 30px auto;
  pre {
    font-size: 0.85em;
  }
}

.list-group-item-actions {
  position: absolute;
  right: 5px;
  top: 5px;
  .btn {
    display: block;
    background-color: fade(@gray-lighter, 30%);
    margin-bottom: 3px;
  }
}