@-webkit-keyframes dropdownIn {
  0% {-webkit-transform: translate3d(0, -30px, 0) scale(.8); opacity: 0;}
  100% {-webkit-transform: translate3d(0, 0, 0) scale(1) ; opacity: 1;}
}

@-moz-keyframes dropdownIn {
  0% {-moz-transform: translate3d(0, -30px, 0) scale(.8); opacity: 0;}
  100% {-moz-transform: translate3d(0, 0, 0) scale(1) ; opacity: 1;}
}

@-ms-keyframes dropdownIn {
  0% {-ms-transform: translate3d(0, -30px, 0) scale(.8); opacity: 0;}
  100% {-ms-transform: translate3d(0, 0, 0) scale(1) ; opacity: 1;}
}

@-o-keyframes dropdownIn {
  0% {-o-transform: translate3d(0, -30px, 0) scale(.8); opacity: 0;}
  100% {-o-transform: translate3d(0, 0, 0) scale(1) ; opacity: 1;}
}

@keyframes dropdownIn {
  0% {transform: translate3d(0, -30px, 0) scale(.8); opacity: 0;}
  100% {transform: translate3d(0, 0, 0) scale(1) ; opacity: 1;}
}

@-webkit-keyframes clouds {
  0% {-webkit-transform: translate3d(840px, 0, 0)}
  100% {-webkit-transform: translate3d(-1440px, 0, 0)}
}

@-moz-keyframes clouds {
  0% {-moz-transform: translate3d(840px, 0, 0)}
  100% {-moz-transform: translate3d(-1440px, 0, 0)}
}

@-ms-keyframes clouds {
  0% {-ms-transform: translate3d(840px, 0, 0)}
  100% {-ms-transform: translate3d(-1440px, 0, 0)}
}

@-o-keyframes clouds {
  0% {-o-transform: translate3d(840px, 0, 0);}
  100% {-o-transform: translate3d(-1440px, 0, 0);}
}

@keyframes clouds {
  0% {transform: translate3d(840px, 0, 0);}
  100% {transform: translate3d(-1440px, 0, 0);}
}


@-webkit-keyframes cloudsMobile {
  0% {-webkit-transform: translate3d(300px, 0, 0)}
  100% {-webkit-transform: translate3d(-1440px, 0, 0)}
}

@-moz-keyframes cloudsMobile {
  0% {-moz-transform: translate3d(300px, 0, 0)}
  100% {-moz-transform: translate3d(-1440px, 0, 0)}
}

@-ms-keyframes cloudsMobile {
  0% {-ms-transform: translate3d(300px, 0, 0)}
  100% {-ms-transform: translate3d(-1440px, 0, 0)}
}

@-o-keyframes cloudsMobile {
  0% {-o-transform: translate3d(300px, 0, 0);}
  100% {-o-transform: translate3d(-1440px, 0, 0);}
}

@keyframes cloudsMobile {
  0% {transform: translate3d(300px, 0, 0);}
  100% {transform: translate3d(-1440px, 0, 0);}
}
