%div
  %h1= title @site.name, 'Tutorials'
  = link_to(new_site_tutorial_path(@site), :class => 'btn btn-primary') do
    %i.icon-list-alt
    Create Tutorial
  %table.table.table-hover
    %thead
      %tr
        %th Title
        %th From
        %th To
        %th
    %tbody
      = render @tutorials
