%div
  %p.text-center.animated.fadeInUp
    = link_to(new_site_tutorial_path(@site), :class => 'btn btn-primary btn-lg') do
      New Tutorial
  .tutorials-container
    %h3.animated.fadeInDown All tutorials:
    = render @tutorials
