%div
  %p.text-center
    = link_to(new_site_tutorial_path(@site), :class => 'btn btn-primary btn-lg') do
      Create Tutorial
  %h3 All tutorials:
  %table.table.table-hover
    %thead
      %tr
        %th Title
        %th From
        %th To
        %th
    %tbody
      = render @tutorials
