/* body modifiers */

.hermes--is-overflow-hidden {
  overflow: hidden;
}

/* force fixed element that has popover to have a proper z-index (same z-index as popover) */

.hermes-force-element-z-index {
  z-index: 10010 !important;
}

/* status message */
/* available tutorials */

.hermes-status-message,
.hermes-available-tutorials {
  position: fixed;
  z-index: 10049;
  bottom: 5px;
  left: 5px;
  padding: 10px;
  max-width: 250px;
  background-color: rgba(0, 0, 0, .9);
  border-radius: 3px;
  color: #fff;
  opacity: 0;
  box-shadow: 0 1px 10px -1px rgba(0, 0, 0, .5);
  border: 1px solid #000;

  -webkit-transition : -webkit-transform .3s cubic-bezier(0.175,  0.885, 0.320, 1.275), opacity .3s;
  -moz-transition    : -moz-transform .3s cubic-bezier(0.175,  0.885, 0.320, 1.275), opacity .3s;
  -ms-transition     : -ms-transform .3s cubic-bezier(0.175,  0.885, 0.320, 1.275), opacity .3s;
  -o-transition      : -o-transform .3s cubic-bezier(0.175,  0.885, 0.320, 1.275), opacity .3s;
  transition         : transform .3s cubic-bezier(0.175,  0.885, 0.320, 1.275), opacity .3s;

  -webkit-transform : scale(.9);
  -moz-transform    : scale(.9);
  -ms-transform     : scale(.9);
  -o-transform      : scale(.9);
  transform         : scale(.9);
}

.hermes-status-message.displayed,
.hermes-available-tutorials.displayed {
  -webkit-transform : scale(1);
  -moz-transform    : scale(1);
  -ms-transform     : scale(1);
  -o-transform      : scale(1);
  transform         : scale(1);
  opacity: .6;
}

.hermes-available-tutorials {
  padding: 0;
}

.hermes-available-tutorials > div {
  cursor: pointer;
  text-align: center;
  padding: 10px;
}
.hermes-available-tutorials > div:active {
  position: relative;
  top: 1px;
}

.hermes-available-tutorials > div:after {
  content: '';
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  top: -2px;
  margin-left: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;

  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0);

  -webkit-transition : -webkit-transform .4s;
  -moz-transition    : -moz-transform .4s;
  -ms-transition     : -ms-transform .4s;
  -o-transition      : -o-transform .4s;
  transition         : transform .4s;
}

.hermes-available-tutorials .hermes-available-tutorials-hide-label {
  display: none;
}

.hermes-available-tutorials ul {
  -webkit-transition: max-height .4s;
  -moz-transition: max-height .4s;
  -ms-transition: max-height .4s;
  -o-transition: max-height .4s;
  transition: max-height .4s;
  overflow: hidden;
  max-height: 0;
}

.hermes-available-tutorials:hover,
.hermes-available-tutorials.open {
  opacity: 1;
}

.hermes-available-tutorials.open .hermes-available-tutorials-hide-label {
  display: inline;
}

.hermes-available-tutorials.open .hermes-available-tutorials-show-label {
  display: none;
}

.hermes-available-tutorials.open ul {
  max-height: 500px;
}

.hermes-available-tutorials.open > div:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.hermes-available-tutorials-list {
  margin: 0;
  padding: 0;
}

.hermes-available-tutorials-list li {
  overflow: hidden;
  padding: 10px;
  font-size: 12px;
  text-align: left;
  border-bottom: 1px solid #333;
  list-style: none;
}

.hermes-available-tutorials-list li:first-child {
  padding-top: 5px;
}

.hermes-available-tutorials-list li:last-child {
  border-bottom: none;
}

.hermes-available-tutorials-list li button {
  float: right;
  margin-left: 10px;
}

/* tutorial start overlay */

.hermes-tutorial-starter-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10049;
  background-color: #000000;
  opacity: .7;
}

.hermes-tutorial-starter {
  overflow: hidden;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.hermes-tutorial-starter-panel {
  width: 90%;
  margin: 30px auto;
}

.hermes-tutorial-starter-panel-content {
  padding: 20px;
  background-color: #fff;
  text-align: center;
}

.hermes-tutorial-starter-panel-content > span {
  display: block;
  margin-bottom: 25px;
  font-size: 24px;
}

/* hermes progress bar */

.hermes-progress-bar {
  position: fixed;
  z-index: 10050;
  top: 0; width: 100%;
  height: 5px;
  background-color: #000;
  background-color: rgba(0, 0, 0, .3);
}

.hermes-progress-bar-indicator {
  background-color: rgb(66, 165, 245);
  background-color: rgba(66, 165, 245, .7);
  height: 5px;
  width: 0;
  -webkit-transition : width .3s cubic-bezier(0.175,  0.885, 0.320, 1.275);
  -moz-transition    : width .3s cubic-bezier(0.175,  0.885, 0.320, 1.275);
  -ms-transition     : width .3s cubic-bezier(0.175,  0.885, 0.320, 1.275);
  -o-transition      : width .3s cubic-bezier(0.175,  0.885, 0.320, 1.275);
  transition         : width .3s cubic-bezier(0.175,  0.885, 0.320, 1.275);
}

/* hermes tutorial overlay */

.hermes-overlay-section {
  position: absolute;
  z-index: 10009;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, .7);
}

/* The broadcast CSS */

.hermes-broadcast {
  position: fixed;
  z-index: 10051;

  padding: 10px;
  padding-bottom: 0;
  margin: 0;
  bottom: 15px; left: 15px; right: 15px;

  background-color: rgb(111, 163, 202);
  background-color: rgba(111, 163, 202, 0.95);
  border-color: #428bca;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.5);
}

.hermes-broadcast-title {
  font-weight: bold;
  font-size: 18px;
}

.hermes-broadcast-content {
  font-size: 14px;
  margin: 5px 0;
  margin-bottom: 0;
}

.hermes-broadcast .hermes-close {
  display: inline-block !important;
  cursor: pointer !important;
  background: none !important;
  border: none !important;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  width: 30px;
  height: 30px;
  font-weight: bolder;
}

/* The popover CSS */

.popover {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.popover-content {
  padding: 5px;
}
.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover .arrow {
  border-width: 11px;
}
.popover .arrow:after {
  border-width: 10px;
  content: "";
}
.popover.top .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
}
.popover.top .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #ffffff;
}
.popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25);
}
.popover.right .arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #ffffff;
}
.popover.bottom .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
}
.popover.bottom .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}
.popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25);
}
.popover.left .arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #ffffff;
  bottom: -10px;
}

/* Our additions */
.popover h3.popover-title,
.popover .popover-content .hermes-content {
  color: #333 !important;
}

.popover h3.popover-title {
  font-weight: 600 !important;
}

.hermes-popover {
  z-index: 10010 !important;
  min-width: 200px;
}

/* popover/broadcast content */

.hermes-actions {
  border-top: 1px solid #eee;
  padding-top: 5px;
  overflow: hidden;
}

.hermes-actions .btn-group {
  float: left;
}

.hermes-actions .btn-group .btn {
  font-size: 11px !important;
}

.hermes-broadcast .hermes-actions {
  border-top: 1px solid #76A7D2;
}

.hermes-more {
  float: right;
}

.hermes-more span {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px !important;
  line-height: 11px !important;
  cursor: pointer;
  border-bottom: 1px solid rgba(200, 200, 200, .3);
}

.hermes-broadcast .hermes-actions {
  margin-bottom: 5px;
}

/* WYSIWYG Colors */
.wysiwyg-color-black {
  color: black;
}

.wysiwyg-color-silver {
  color: silver;
}

.wysiwyg-color-gray {
  color: gray;
}

.wysiwyg-color-white {
  color: white;
}

.wysiwyg-color-maroon {
  color: maroon;
}

.wysiwyg-color-red {
  color: red;
}

.wysiwyg-color-purple {
  color: purple;
}

.wysiwyg-color-fuchsia {
  color: fuchsia;
}

.wysiwyg-color-green {
  color: green;
}

.wysiwyg-color-lime {
  color: lime;
}

.wysiwyg-color-olive {
  color: olive;
}

.wysiwyg-color-yellow {
  color: yellow;
}

.wysiwyg-color-navy {
  color: navy;
}

.wysiwyg-color-blue {
  color: blue;
}

.wysiwyg-color-teal {
  color: teal;
}

.wysiwyg-color-aqua {
  color: aqua;
}

.wysiwyg-color-orange {
  color: orange;
}

@media only screen and (min-width: 768px) {
  .hermes-tutorial-starter-panel {
    width: 600px;
  }
}