/* available tutorials */

.hermes-available-tutorials {
  position: fixed;
  z-index: 10049;
  bottom: 0;
  left: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, .9);
  border-radius: 2px 2px 0 0;
  color: #fff;
  opacity: .4;

  -webkit-transition : -webkit-transform .3s, opacity .3s;
  -moz-transition    : -moz-transform .3s, opacity .3s;
  -ms-transition     : -ms-transform .3s, opacity .3s;
  -o-transition      : -o-transform .3s, opacity .3s;
  transition         : transform .3s, opacity .3s;
}

.hermes-available-tutorials > div {
  cursor: pointer;
}

.hermes-available-tutorials > div:after {
  content: '';
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  top: -2px;
  margin-left: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
}

.hermes-available-tutorials ul {
  display: none;
}

.hermes-available-tutorials:hover,
.hermes-available-tutorials.open {
  opacity: 1;
}

.hermes-available-tutorials.open ul {
  display: block;
}

.hermes-available-tutorials.open > div:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.hermes-available-tutorials-list {
  margin: 0;
  padding: 0;
}

.hermes-available-tutorials-list li {
  list-style: none;
  padding: 5px;
  font-size: 12px;
  text-align: left;
}

.hermes-available-tutorials-list li button {
  float: right;
}

/* tutorial start overlay */

.hermes-tutorial-starter-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10049;
  background-color: #000000;
  opacity: .7;
}

.hermes-tutorial-starter {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.hermes-tutorial-starter-panel {
  width: 600px;
  margin: 30px auto;
}

.hermes-tutorial-starter-panel-content {
  padding: 20px;
  background-color: #fff;
  text-align: center;
}

.hermes-tutorial-starter-panel-content > span {
  display: block;
  margin-bottom: 25px;
  font-size: 24px;
}

/* The broadcast CSS */

.hermes-broadcast {
  position: fixed;
  z-index: 10051;

  padding: 10px;
  margin: 0;
  bottom: 15px; left: 15px; right: 15px;

  background-color: rgb(111, 163, 202);
  background-color: rgba(111, 163, 202, 0.95);
  border-color: #428bca;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.5);
}

.hermes-broadcast * {
  font-size: 20px !important;
  line-height: 20px !important;
}

.hermes-broadcast p {
  margin: 0 0 4px !important;
}

.hermes-broadcast .hermes-close {
  display: inline-block !important;
  cursor: pointer !important;
  background: none !important;
  border: none !important;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  right: 1%;
  color: #fff;
  width: 30px;
  height: 30px;
  font-weight: bolder;
}

/* The popover CSS */

.hermes-popover {
  z-index: 10010;
  min-width: 200px;
}

.popover {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.popover-content {
  padding: 5px;
}
.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover .arrow {
  border-width: 11px;
}
.popover .arrow:after {
  border-width: 10px;
  content: "";
}
.popover.top .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
}
.popover.top .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #ffffff;
}
.popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25);
}
.popover.right .arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #ffffff;
}
.popover.bottom .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
}
.popover.bottom .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}
.popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25);
}
.popover.left .arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #ffffff;
  bottom: -10px;
}

/* Our additions */
.popover h3.popover-title,
.popover .popover-content .hermes-content {
  color: #333 !important;
}

.popover h3.popover-title {
  font-weight: 600 !important;
}

.popover .hermes-content .hermes-actions .hermes-close {
  cursor: pointer !important;
  padding: 5px 10px;
  margin: 10px 0;
  float: right;
}

/* popover/broadcast content */

.hermes-actions {
  border-top: 1px solid #eee;
  padding-top: 5px;
  overflow: hidden;
}

.hermes-actions .btn-group {
  float: left;
}

.hermes-actions .btn-group .btn {
  font-size: 11px !important;
}

.hermes-broadcast .hermes-actions {
  border-top: 1px solid #76A7D2;
}

/* WYSIWYG Colors */
.wysiwyg-color-black {
  color: black;
}

.wysiwyg-color-silver {
  color: silver;
}

.wysiwyg-color-gray {
  color: gray;
}

.wysiwyg-color-white {
  color: white;
}

.wysiwyg-color-maroon {
  color: maroon;
}

.wysiwyg-color-red {
  color: red;
}

.wysiwyg-color-purple {
  color: purple;
}

.wysiwyg-color-fuchsia {
  color: fuchsia;
}

.wysiwyg-color-green {
  color: green;
}

.wysiwyg-color-lime {
  color: lime;
}

.wysiwyg-color-olive {
  color: olive;
}

.wysiwyg-color-yellow {
  color: yellow;
}

.wysiwyg-color-navy {
  color: navy;
}

.wysiwyg-color-blue {
  color: blue;
}

.wysiwyg-color-teal {
  color: teal;
}

.wysiwyg-color-aqua {
  color: aqua;
}

.wysiwyg-color-orange {
  color: orange;
}