#sites-list.well
  = link_to '#new-site-modal', class: 'btn btn-block btn-default btn-sm', :'data-toggle' => 'modal' do
    %i.fa.fa-plus
    Add new site
  - if Site.by_user(current_user).any?
    %ul.nav.nav-list
      %li.nav-header Your sites
      = render Site.by_user(current_user)