#sites-list
  - if Site.by_user(current_user).any?
    %ul.list-group
      = render Site.by_user(current_user)
      %li.list-group-item
        = link_to '#new-site-modal', class: 'btn btn-block btn-primary btn-lg', :'data-toggle' => 'modal' do
          %i.fa.fa-plus
          Add new site