.payoff
  %p.big.animated.flipInX
    Catchy notifications
    %br
    in your own sites,
    %br
    at the right place and time.
    %br
  %p.animated.fadeInLeft
    %b You
    write them,
    %span.hermes-title Hermes
    delivers for you.