#sites-list
  %ul.list-group
    = render sites
    %li.list-group-item
      = link_to '#new-site-modal', class: 'btn btn-block btn-primary', :'data-toggle' => 'modal' do
        New site
    - if sites.present?
      %li.list-group-item
        = link_to '#general-broadcast-modal', class: 'btn btn-block btn-primary', :'data-toggle' => 'modal' do
          New general broadcast
