- if @site.persisted?
  $('#new-site-modal').modal('hide');
  window.location.href = '#{site_path(@site)}?just_created=true';
- else
  alert('Oh Snap :(! It seems your entry is invalid. Maybe another site entry has the same path?');
  $('#site_hostname').focus();
