.welcome
  = image_tag 'hermes-logo.png'
  %h3 Welcome to Hermes
.explain
  %p
    To set up Hermes for your website, add the following code to your pages
    just before the ending
    %code &lt;/body&gt;
    tag:
  %pre
    \&lt;script src="#{root_url + 'assets/hermes.js'}"&gt;&lt;/script&gt;
  %p
    Then, add your sites using the button "New site" on the left.
.explain
  %p
    Once you added a site, you can add as many messages as you wish to it: they will be shown to your visitor until they dismiss them.
  %p
    You can decide, for every single message:
  %ul
    %li the publishing time frame
    %li the visualization order (for multiple messages on one page)
    %li the layout type (broadcast message or tooltip bound to a specific page element)
