- if any_sites?
  .col-md-3.animated.fadeInLeft.main-side= render 'side'
.animated.fadeInUp.main-index{class: any_sites? ? 'col-md-9' : ''}
  .welcome
    %h2
      Hey there, I'm
      = logo_big
      %span.hermes-title Hermes
    %h4 Below I'll give you just a few simple hints to set me up for your website
  .explain
    %ul.rules
      %li
        = link_to '#new-site-modal', class: 'btn btn-primary btn-lg', :'data-toggle' => 'modal' do
          Add new site
      %li Once you added a site, remember to include the script on your page(s)
      %li
        %p Then, BOOM! You can finally create:
        %ul
          %li <b>Tips</b>: they will be shown to your visitors until they dismiss them. They can be bound to particular elements or they can be shown as broadcasts.
          %li <b>Tutorials</b>: collections of tips/broadcasts that will be shown to the visitors sequentially.
      %li
        Happy delivery, by Hermes! :)