- if @site.errors.messages.any?
  alert('Oh Snap :(! It seems your entry is invalid. Maybe another site entry has the same path?');
  $('#site_hostname').focus();
- else
  $('#edit-site-modal').modal('hide');
  - if controller_name == 'sites' && action_name == 'update'
    window.location.reload();
  $('#sites-list').replaceWith("#{j render 'side'}");
