= form_for @tip, :url => site_tips_path(@site), html: { class: 'form-horizontal' } do |f|
  %fieldset
    %legend
      Create a new message for your site “#{@site.name}”
    = render 'form', :f => f
